# Python
__pycache__/
*.pyc
*.pyo
.env

# Database & downloaded images
recipebook/recipes.db
recipebook/static/images/

# CLion / CMake
cmake-build-debug/
.idea/
CMakeLists.txt
main.cpp

# macOS
.DS_Store
.vercel
static/images/
